{:kotoba.app/id "cloud.itonami.isic-6499", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibyyeelgvpqykvzvzxx3exijfpifukdyzq5s6jlgddncrhmr74vgi", :kotoba.app/embed-url "ipfs://bafkreibyyeelgvpqykvzvzxx3exijfpifukdyzq5s6jlgddncrhmr74vgi", :published {:archive "https://kotobase.net/ipfs/bafkreibyyeelgvpqykvzvzxx3exijfpifukdyzq5s6jlgddncrhmr74vgi", :size 73679, :put-status 201, :get-status 200, :at "2026-08-15T13:42:32.228Z"}}
